body{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body *{

    scroll-behavior: smooth;
    box-sizing: border-box;
}

.body{
    position: relative;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../assets/fonts/roboto-v20-vietnamese_latin-500.woff2");
}
@font-face {
    font-family: Roboto-Italic;
    src: url("../assets/fonts/roboto-v20-vietnamese_latin-italic.woff2");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("../assets/fonts/roboto-v20-vietnamese_latin-regular.woff2");
}
@font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
.align-left{
    display: flex;
    justify-content: left;
}
.align-right{
    display: flex;
    justify-content: right;
}
a{
  text-decoration: none;
}