#content-add{
    position: relative;
}
.add-item-delete-all-icon-box{
    position: absolute;
    top: calc(50% - 8px); right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
}
.add-item-delete-all-icon{
    width: 8px;
    height: 8px;
    background:  url("../../../../assets/img/icon_collection.svg") no-repeat -84px -20px;
}

.add-item-delete-all-icon-box:hover .add-item-delete-all-icon{
    width: 16px;
    height: 16px;
    background:  url("../../../../assets/img/icon_collection.svg") no-repeat -320px -240px;
}


.add-item input[type=text]{
    padding-right: 32px;
}

#content-add input[type=checkbox]:focus{
    outline: 1px solid #4262F0;
}