#content-add{
    position: relative;
}
.add-item-delete-all-icon-box{
    position: absolute;
    top: calc(50% - 8px); right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    visibility: hidden;
    background-color: #ddd;
}
.add-item-delete-all-icon-box:hover{
    background-color: #7C869C;
}
.add-item-delete-all-icon{
    width: 10px;
    height: 10px;
    background:  url("../../../../assets/img/icon_collection.svg") no-repeat -323px -476px;
}

.add-item input[type=text]{
    padding-right: 32px;
}