#add-topbar{
    height: 64px;
    padding: 0 10px;
    background-color: #E2E4E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 84px */
}
.add-topbar-left{
    display: flex;
}
.al-txt1{
    font-family: Roboto-Bold;
    font-size: 20px;
}
.al-txt2{
    margin: 0 8px 0 4px;
    font-size: 16px;
    transform: translateY(3px);
}
.al-change-construct{
    font-size: 13px;
    transform: translateY(7px);
    color: #4262F0;
    cursor: pointer;
}
.al-change-construct:hover{
    text-decoration: underline;
}
.add-topbar-right button:nth-child(2){
    margin: 0 8px;
}