#mainContent{
    position: relative;
    flex: 1;
    height: calc(100vh - 84px - 64px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* ẩn hiện filter bar left  */
.filterbarLeftShowHideBtn{
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 16px;
    cursor: pointer;
    background-color: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 3px 1px 6px rgb(0 0 0 / 30%);
}
.filterbarLeftShowHideBtn-icon{
    width: 16px;
    height: 16px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -289px -32px;
}
.filterbarLeftShowHideBtn:hover{
    width: 20px;
    height: 50px;
}
/* ẩn hiện filter bar right  */
.toolbarRightShowHideBtn{
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    align-items: center;
    height: 40px;
    width: 16px;
    cursor: pointer;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: -3px -1px 6px rgb(0 0 0 / 30%);
}
.toolbarRightShowHideBtn-icon{
    width: 16px;
    height: 14px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -302px -34px;
}
.toolbarRightShowHideBtn:hover{
    width: 20px;
    height: 50px;
}

/* table  */
.s-thead{
    width: 1000%;
}
.s-thead .s-tr{
    background-color: #F0F2F4;
}
.s-tbody{
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100vh - 84px - 64px - 48px - 40px);
}
.s-tbody .s-tr:hover .s-td{
    background-color: #E7EDFB;
}
.s-tr{
    display: grid;
    grid-template-columns: 150px 150px 150px 200px 200px 200px 200px 250px 250px 200px 300px 200px 200px 200px 200px 200px 200px;
    height: 40px;
}
.s-td, .s-th{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 25px;
}
.s-td{
    text-overflow: ellipsis;
    cursor: pointer;
}
.s-th-export-icon{
    cursor: pointer;
    margin: 0 16px;
    width: 16px;
    height: 16px;
    background: url('../../../../assets/img/icon_collection.svg') no-repeat 0px 0px;
}
.s-th-select-icon{
    cursor: pointer;
    margin-right: 32px;
    width: 16px;
    height: 16px;
    background: url('../../../../assets/img/icon_collection.svg') no-repeat -192px -16px;
}
.cell-phone-icon{
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background: url('../../../../assets/img/icon_collection.svg') no-repeat -320px -48px;
}

/* footer  */
.footer{
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left{
    padding: 0 16px
}
.footer-left span{
    font-weight: 700;
}
.footer-right{
    display: flex;
    align-items: center;
}
.footer-page-size{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border: 1px solid #ddd;
    height: 32px;
    border-radius: 4px;
    margin-right: 16px;
    cursor: pointer;
}
.footer-page-size:hover{
    background-color: #ddd;
}
.fps-combobox{
    /* display: flex;
    align-items: center; */
    position: absolute;
    bottom: 110%;
    left: 0;
    background-color: #fff;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
}
.fpsc-item{
    padding: 0 8px;
    height: 32px;
    display: flex;
    align-items: center;
}
.fpsc-item:hover{
    background-color: #ddd;
}
.footer-page-size span{
    margin-right: 8px;
}
.fps-dropdown{
    margin-left: 16px;
    width: 16px;
    height: 16px;
    background: url('../../../../assets/img/icon_collection.svg') no-repeat -48px -32px;
}

.footer-paging{
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.fp-first{
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -112px -224px;
}
.fp-prev{
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-left: 4px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -289px -32px;
}
.fp-txt{
    margin: 0 4px;
}
.fp-txt .from{
    margin-right: 4px;
}
.fp-txt .to{
    margin-left: 4px;
}
.fp-next{
    cursor: pointer;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -303px -32px;
}
.fp-last{
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -128px -224px;
}