#mainContent{
    flex: 1;
    height: calc(100vh - 84px - 64px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* table  */
.s-thead{
    width: 1000%;
}
.s-thead .s-tr{
    background-color: #F0F2F4;
}
.s-tbody{
    overflow-y: auto;
    overflow-x: auto;
    height: calc(100vh - 84px - 64px - 48px - 40px);
}
.s-tbody .s-tr:hover{
    background-color: #E7EDFB;
}
.s-tr{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px;
    height: 40px;
    border-bottom: 1px solid #ccc;
}
.s-td, .s-th{
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
}