#update-topbar{
    height: 64px;
    padding: 0 10px;
    background-color: #E2E4E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 84px */
}
.update-topbar-left{
    display: flex;
}
.ul-txt1{
    font-family: Roboto;
    font-weight: 600;
    font-size: 20px;
}
.ul-change-construct{
    margin-left: 8px;
    font-size: 13px;
    transform: translateY(7px);
    color: #4262F0;
    cursor: pointer;
}
.al-change-construct:hover{
    text-decoration: underline;
}
.update-topbar-right button:nth-child(2){
    margin: 0 8px;
}