/* ảnh tiềm năng  */
#update-main-content{
    padding: 18px 38px;
    overflow: auto;
    height: calc(100vh - 84px - 64px);
    box-sizing: border-box;
}
.update-main-content-img-box{
    margin: 8px 0 32px 0;
}
.update-section-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}
.uimgb-img-box{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid#ccc;
    cursor: pointer;
}
.uimgb-img{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: transparent url("../../../../assets/img/icon_collection.svg") no-repeat  -198px -854px;
}

/* thông tin chung  */

.update-items{
    display: flex;
}
.update-item{
    width: 450px;
    min-height: 32px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.update-input-feild{
    width: 280px;
    padding: 0 16px;
}
.update-select-feild{
    width: 280px;
}
.update-validate-error{
    color: red;
    transform: translate(8px,-12px);
    width: 500px;
    display: flex;
    justify-content: center;
}
.uib-txt{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.update-item-icon{
    cursor: pointer;
    transform: translateY(1px);
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background: url("../../../../assets/img/icon_collection.svg") no-repeat -209px -1px;
}

/* thông tin cá nhân  */
.add-main-content-personal-infor{
    margin: 36px 0;
}
.update-input-checkbox{
    width: 18px;
    height: 18px;
    margin-right: 262px;
    cursor: pointer;
}