.dialog-component{
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
}
.dialog-component-container{
    position: absolute;
    top: 200px;
    width: 450px;
    padding: 32px 16px 0 20px;
    background-color: #fff;
    border-radius: 4px;
    animation: dialogComponentFadein .3s ease;
}
@keyframes dialogComponentFadein {
    from{
        width: 300px;
        transform: translateY(-500px);
    }to{
        width: 450px;
        transform: translateY(0);
    }
}
.dcc-close-icon-box{
    position: absolute;
    top: 8px; right:8px;
    height: 24px;
    width:  24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.dcc-close-icon-box:hover{
    background-color: #eee;
}
.dcc-close-icon-box:active{
    background-color: #ddd;
}
.dcccib-icon{
    width: 16px;
    height: 16px;
    background: url("../../assets/img/icon_collection.svg") no-repeat -64px -16px;
}

.dcc-button-box{
    display: flex;
    justify-content: flex-end;
    padding: 24px 8px;
}
.dccbb-delete-button{
    margin-left: 8px;
}
